spring:
  application:
    name: twitter
  datasource:
    url: jdbc:h2:mem:twitter
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false
        trace: false
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    open-in-view: false
